<h3>Create new note</h3>
<button id="openDialogButton" class="createNoteButton">++</button>

<div class="btn-container">
<h1 class="notes">All notes</h1>
<button (click)="deleteAllNotes()" id="deleteAllNotes" class="deleteAllNotesButton">Delete all Notes</button>
</div>



<div *ngFor="let note of allNotes">
  <h2 class="notes"
      (click)="openNote(note.id)">{{note.title}}</h2>
  <br>
</div>


<dialog style="width: 500px; height: 500px" id="dialog">
  <input type="text" placeholder="write title">
  <br>
  <input type="text" placeholder="write note">
  <button id="close" class="close">close</button>
  <button (click)="postNote()" id="create" class="create">create note</button>
</dialog>


