<div class="homeBody">
  <h1 class="createNewNote">Create new note</h1>
<!--  <button id="openDialogButton" class="createButton">+</button>-->
  <mat-icon id="openDialogButton" class="buttonHover" aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>


  <div class="btn-container">
    <h1 class="allNotes">All notes</h1>
    <button (click)="deleteAllNotes()" id="deleteAllNotes" class="buttonHover">Delete all Notes</button>
  </div>


  <div *ngFor="let note of allNotes">
    <h2 class="buttonHover"
        (click)="openNote(note.id)">{{ note.title }}</h2>
    <br>
  </div>


  <dialog style="width: 500px; height: 500px" id="dialog">
    <div class="close-container">
      <input id="titleInput" type="text" placeholder="write title" (input)="titleChanged($event)">
<!--      <button id="close" class="buttonHover">X</button>-->
      <mat-icon id="close" class="buttonHover" aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
    </div>
    <br>
    <input id="textInput" type="text" placeholder="write note" (input)="textChanged($event)">

    <mat-icon (click)="postNote()" fontIcon="add_circle" id="create" class="buttonHover"></mat-icon>
  </dialog>
</div>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<button mat-fab extended>
  <mat-icon>home</mat-icon>
  Home
</button>
