h1.notes {
  margin-bottom: 50px;
}
h1.notes {
  margin-top: 32px;
  font-family: algerian, sans-serif;
  color: gray;
}

.createNoteButton {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 100px;
  border-color: black;
  border-width: 10px;
}

