h1.notes {
  margin-bottom: 50px;
}
h1.notes {
  margin-bottom: 0px;
  font-family: algerian, sans-serif;
  color: gray;
}

.createNoteButton {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 100px;
  border-color: black;
  border-width: 10px;
}
.createNoteButton:hover{
  cursor: pointer;

}



.btn-container{
  margin-top: 32px;
  display: flex;justify-content: flex-start;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.deleteAllNotesButton:hover {
  cursor: pointer;
}

.close:hover {
  cursor: pointer;
}

.create:hover {
  cursor: pointer;
}

